
  body,html{
      height: 100%;
      font-family: 'Montserrat', sans-serif;
  }
.main {
      width: 100%;
      height:40vh;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.082) 60%, rgba(92, 84, 110, 0.7)),url("main-pic.png");
      background-size:  100% 100%;
      background-repeat: no-repeat;
      padding: 11vw 5vw;
  }
  .text h1{
      font-weight: bold;
      font-size:5vw !important
  }
  .text p{
      width:53vw;
      font-size: 1.2rem;
      padding-top: 3px !important
  }
  .flex{
      display: flex;
      justify-content: space-around;
      flex-wrap:wrap;
      padding:0 30px
  }
  .items{
      position: relative;
  }
  .items:hover  .overlay {
    width:100%;
    height:100%;
    position: absolute;
    top: 1px;
    background-color:#000;
    opacity:0.5;
    z-index: 1;
}
  .flex h1{
      position: absolute;
      top:60%;
      transform: translateX(-50%);
      left: 50%;
      font-family: 'Montserrat', sans-serif;
      font-size: 3vw;
      font-weight: bold;
      transition: all 0.5s ease-in-out;
      color:white;
  }
  .hide{
      visibility: hidden;
      transition: all 0.5s ease-in-out;
      
  }
  .hov{
      position: absolute;
      bottom:12%;
      font-size: 16px;
      color: white;
  }
  .items:hover .hide{
      visibility: visible;
      transition: all 0.5s ease-in-out;
      background-color: rgba(177, 22, 22, 0.945);
      z-index:100
  }
  .items:hover h1{
    color: #FF4301;
    font-size: 2.5vw;
    transition: all 0.5s ease-in-out
}

  .icon{
    position: absolute;
    bottom:20px;
    color: white;
    transform: translateX(-50%);
    left: 50%;
  }
  @media only screen and (orientation:landscape){
      .main{
          height: 100%
      }
  }
  @media only screen and (max-width:576px) {
      .main {
        width: 100%;
        height: 30vh;
        padding: 9vw 3vw
    }
    .hov{
        font-size: 7px;
        transform: translateX(-50%);
        left: 50%;
    }
    .text p{
        width:50vw;
        font-size: 0.3rem;
        letter-spacing: 0.5px;
    }
    .flex{
        flex-direction: column
    }
    .flex h1{
        font-size: 6vw
    }
    .flex div{
        width: 100% !important;
    }
  }
